{% extends "base.html" %}
{% load event_extras %}
{% block content %}
{% load tz %}
{% timezone "Europe/Warsaw" %}
{% if live_events %}
{% include "events_card/with_score.html" with events=live_events name='Live events' %}
{% endif %}
{% if upcoming_events %}
{% include "events_card/with_start_time.html" with events=upcoming_events name='Upcoming events' %}
{% endif %}
{% if finished_events %}
{% include "events_card/with_score.html" with events=finished_events name='Finished events' %}
{% endif %}
{% endtimezone %}
{% endblock %}